cltk==1.1.1
la-core-cltk-sm @ https://github.com/diyclassics/latin-spacy-models/blob/main/la_core_cltk_sm/la_core_cltk_sm-0.1.0.tar.gz?raw=true
lxml==4.7.1
pyuca==1.2
spacy @ git+https://github.com/diyclassics/spaCy.git@59f2866620af24138e660e7c88921c87aaaebb60
